## Raj Choudhary

## 16BCE1384

## Repository-link: https://github.com/raj1603chdry/CSE4020-MachineLearningLabs
<br /><br />

## Importing libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

## Loading the dataset

In [2]:
X = pd.read_csv('../datasets/ameo_dataset/processed_dataset/X.csv')
y = pd.read_csv('../datasets/ameo_dataset/processed_dataset/y_cat.csv')

**Splitting the dataset into train test and validation dataset using the sklearn train_test_split module with test dataset of size 25% of the whole dataset**

In [3]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size = 0.2, random_state = 100)

## Data Analysis

In [4]:
X_train.head()

,10percentage,12percentage,collegeGPA,English,Logical,Quant,Domain,ComputerProgramming,ElectronicsAndSemicon,ComputerScience,...,GraduationYear_2016,GraduationYear_2017,Gender_f,Gender_m,Degree_B.Tech/B.E.,Degree_M.Sc. (Tech.),Degree_M.Tech./M.E.,Degree_MCA,CollegeTier_1,CollegeTier_2
2336,74.8,70.5,70.2,590,545,575,0.842248,495,0,469,...,0,0,0,1,1,0,0,0,0,1
3800,65.0,77.2,79.6,520,465,720,0.758380,0,420,0,...,0,0,0,1,1,0,0,0,0,1
1599,72.0,67.0,62.0,370,370,320,0.144790,405,0,284,...,0,0,0,1,1,0,0,0,0,1
2981,58.0,66.4,66.0,335,455,595,0.000000,305,0,0,...,0,0,0,1,1,0,0,0,0,1
969,91.4,87.8,77.0,525,460,510,0.649390,565,356,376,...,0,0,0,1,1,0,0,0,0,1

**The above output shows all the 70 columns of our AEMO dataset which may or may not effect the response variable 'salary'**

In [5]:
salary_classes = y_train['Salary'].unique()
print(salary_classes)

['(300000.0, 370000.0]' '(34999.999, 180000.0]' '(180000.0, 300000.0]'
 '(370000.0, 4000000.0]']

**As shown above, there are 4 unique categories or classes in the salary attribute, and we need to classify that each and every points given in the test dataset belongs to which one of the above 4 classes of salary**

**As we remember from the previous ML models that we were not able to classify the salary catagories appropriately with most of the 2D models that we have learned due to the non linear relationship between the features in our dataset. In this experiment we will try a more complex model which work on the principles of artificial network and try to classify the data points with higher level of accuracy**

## Training the Multi-Layer Perceptron model

**Training a 4 layer MLP with 'identity' as the activation function**

In [6]:
mlp = MLPClassifier(hidden_layer_sizes=(4,3,2,1), max_iter=1000,activation='identity')

In [7]:
mlp.fit(X_train,y_train)

/anaconda3/envs/tensorflow/lib/python3.6/site-packages/sklearn/neural_network/multilayer_perceptron.py:912: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(activation='identity', alpha=0.0001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(4, 3, 2, 1), learning_rate='constant',
       learning_rate_init=0.001, max_iter=1000, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [8]:
predictions = mlp.predict(X_test)

In [9]:
print(confusion_matrix(y_test,predictions))
print(accuracy_score(y_test,predictions))

[[97  2 44 99]
 [74  0 47 56]
 [77  0 38 63]
 [95  0 21 87]]
0.2775

**After 1000 iteration, we can observe from the above confusion matrix that only 32, 13, 0, 181 data points of the test dataset has been classified correctly to Salary level 1, 2, 3 and 4 respectively and the accuracy score for the classfication by this model is only 28%**

In [10]:
mlp1 = MLPClassifier(hidden_layer_sizes=(4,3,2,1), max_iter=5000,activation='identity')

In [11]:
mlp1.fit(X_train,y_train)

/anaconda3/envs/tensorflow/lib/python3.6/site-packages/sklearn/neural_network/multilayer_perceptron.py:912: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(activation='identity', alpha=0.0001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(4, 3, 2, 1), learning_rate='constant',
       learning_rate_init=0.001, max_iter=5000, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [12]:
predictions = mlp1.predict(X_test)

In [13]:
print(confusion_matrix(y_test,predictions))
print(accuracy_score(y_test,predictions))

[[ 17   0 117 108]
 [ 22   0  52 103]
 [ 10   0  90  78]
 [ 40   0  66  97]]
0.255

**Now we can see that on increasing the maximum iterations to 5000 for the same MLP model with 4 hidden layers of neurons, we got an accuracy score of about 33.7% which is far more better than the previous case, but this time points lying in salary category 2 and 3 are completely misclassifed which is not good.**

**So we will now try to change the activation function and try to tune the number of hidden layers so that we will get a higher accuracy score along with higher appropriate classifications for each salary category.**

In [14]:
mlp2 = MLPClassifier(hidden_layer_sizes=(7,6,6,4), max_iter=6500,activation='tanh')

In [15]:
mlp2.fit(X_train,y_train)

/anaconda3/envs/tensorflow/lib/python3.6/site-packages/sklearn/neural_network/multilayer_perceptron.py:912: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(activation='tanh', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(7, 6, 6, 4), learning_rate='constant',
       learning_rate_init=0.001, max_iter=6500, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [16]:
predictions = mlp2.predict(X_test)
print(confusion_matrix(y_test,predictions))
print(accuracy_score(y_test,predictions))

[[ 96   4  56  86]
 [ 56   7  30  84]
 [ 79   3  43  53]
 [ 74   0  20 109]]
0.31875

**Here, we observe that we are able to classify all the 4 classes of salary with an accuracy of 30% approx which is just little bit lesser than the previous case.**

In [17]:
mlp3 = MLPClassifier(hidden_layer_sizes=(6,5,5,3), max_iter=5000,activation='tanh')

In [18]:
mlp3.fit(X_train,y_train)

/anaconda3/envs/tensorflow/lib/python3.6/site-packages/sklearn/neural_network/multilayer_perceptron.py:912: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPClassifier(activation='tanh', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(6, 5, 5, 3), learning_rate='constant',
       learning_rate_init=0.001, max_iter=5000, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [19]:
predictions = mlp3.predict(X_test)

In [20]:
print(confusion_matrix(y_test,predictions))
print(accuracy_score(y_test,predictions))

[[106   0  22 114]
 [ 88   0  20  69]
 [ 79   0  23  76]
 [ 63   0  14 126]]
0.31875

**This time using the 'tanh' as an activation function and changing the number of neurons in each layer we got an classification which is better than that in the previous case. Here we are able to classify 3 salary levels with an accuracy score of 32.8%**

***Conclusion: So from the above outputs we can say that given enough data and number of neurons in the layers of perceptron and the correct parameters like activation function etc. , MLP will be able to classify data into the correct salary categories in polynomial time with higher accuracy***